
body{
    text-align: center;
    color: rgb(255, 0, 0);
}
p {
font-size: 25px;
margin-top: -10px;
}
.frase{
width: 15%;
text-align: center;
font-size: 15px;
}
.creado{
    color: black;
    margin-top: -50px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 100px;
    position: absolute;
    margin-left: 830px;
    margin-top: -50px;
    
}
#post{
    border: 2px solid blue;
    border-radius: 50px;
}

#cabecera{
    font-family: 'Hanalei Fill', cursive;
    color: rgb(196, 176, 4);
    margin: 15px auto;
    text-align: center;
    
}

#container{
    width: 60%;
    border: 0px solid rgb(204, 207, 0);
    margin: auto;
    margin: 0 auto;
    
}

.apertura{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
    margin-left: 10%;
    width: 35%;
    border: 2px solid red;
    border-radius: 40px;
    border-left: 30px;
    border-right: 30px;
    text-align: center;
}
.aprendido{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -138px;
    margin-left: 55%;
    width: 35%;
    border: 2px solid red;
    border-radius: 40px;
    border-left: 30px;
    border-right: 30px;
    text-align: center;
}
